/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-decor-color: #FF8DCB;
    --title: #FFC2E6;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --main-headers-color: #353430;
    --decorated-text-color: #353430;
    --header-border-color: #353430;
    --header-border-hover-color: rgba(50, 49, 45, 0.4);
}
