/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  display: grid;
  gap: 40px;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 75px 10px 66px 10px;
  align-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.header__subtext {
  display: none;
  position: absolute;
  color: var(--header-border-color);
  font-family: IBM Plex Mono, monospace;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  top: 12px;
  right: 19px;
  gap: 10px;
  align-items: center;
}

.header__subtext::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: var(--header-border-color);
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--header-border-color);
}

.corners::before {
  content: "";
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  position: absolute;
  border-top: 1px solid var(--header-border-color);
  border-right: 1px solid var(--header-border-color);
}

.corners::after {
  content: "";
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  position: absolute;
  border-bottom: 1px solid var(--header-border-color);
  border-left: 1px solid var(--header-border-color);
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.header__theme-menu-button {
  background-color: transparent;
  border-radius: 0;
  width: 70px;
  padding: 1px 0 2px 0;
  font-family: IBM Plex Mono, monospace;
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
  color: var(--header-border-color);
  border: transparent 1px solid;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: var(--header-border-color) 1px solid;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--header-border-hover-color) 1px solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: transparent 1px solid;
  border-bottom: currentColor 1px solid;
  outline: none;
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: IBM Plex Mono, monospace;
  font-weight: 700;
  line-height: 83%;
  color: var(--title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text-block {
  display: grid;
  row-gap: 55px;
}

.main {
  margin: 0 10px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  font-family: IBM Plex Mono, monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-text-color);
}

.bold {
  font-weight: 700;
}

h2.bold.text {
  color: var(--main-headers-color);
}

.text.title-decor,
.text.bold.title-decor {
  background-color: var(--title-decor-color);
  color: var(--decorated-text-color);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  border-bottom: currentColor 1px solid;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px var(--main-text-color) solid;
}

.images-section,
.images {
  display: grid;
  gap: 10px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.footer__text-block {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) {

  .page {
    gap: 60px;
  }

  .header {
    padding: 192px 20px 183px 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: 120px;
  }

  .corners::before {
    top: 20px;
    right: 20px;

  }

  .corners::after {
    left: 20px;
    bottom: 20px;
  }

  .header__subtext {
    top: 22px;
    right: 29px;
  }

  .main {
    margin: 0 20px;
    gap: 80px;
  }

  .card .text,
  .header__text-block .text {
    grid-area: header;
  }

  .header__title {
    grid-area: title;
  }

  .header__text-block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "title title"
      ". header";
    row-gap: 162px;
  }

  .section {
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    /*grid-template-rows: min-content min-content; */
  }

  .cards {
    grid-area: cards;
  }

  .why-how-section {
    grid-template-areas:
      "header cards";
  }

  .what-section {
    grid-template-areas:
      "header ."
      "cards cards";
  }

  .images-section {
    grid-template-columns: 1fr;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 20px 20px 134px 20px;
  }

  .header__text-block {
    grid-row-gap: 114px;
  }

  .header__title,
  .footer__title {
    font-size: 157px;
  }

  .header__theme-menu {
    margin: 0 auto;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .why-how-section {
    grid-template-areas:
      "header cards cards";
  }

  .what-section {
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      "header . ."
      "cards cards cards";
  }

  .images-section {
    grid-template-columns: 1fr;
  }

  .what-section .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}