/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center center;
  background-color: hsba(334, 5%, 100%, 1);
  margin: 0 10px 0 10px;
  box-sizing: border-box;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  margin: 75px 0px 66px 0px;
  align-content: space-between;
  box-sizing: border-box;
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  gap: 10px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text-block {
  display: grid;
  gap: 55px;
}

.title-decor {
  background-color: var(--title-decor-color);
}

.section {  
  padding: 40px 0px 0px 0px;
  display: grid;
  gap: 20px;
}

.card {
  display: inherit;
  gap: 10px;
}

.text {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.bold {
  font-weight: 700;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
}